*{
    border: 1px solid black;
}
.flex{
    display: flex;
    border-color: red;
}
.justify-start{
    justify-content: flex-start;
}
.justify-end{
    justify-content: flex-end;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.items-start{
    align-items: flex-start;
}
.items-end{
    align-items: flex-end;
}
.items-center{
    align-items: center;
}
.gap-1{
    gap: 4px;
}
.gap-2{
    gap: 8px;
}
.gap-3{
    gap: 12px;
}
.gap-4{
    gap: 16px;
}